<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>HVAC Monitoring Service</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body>

    <h1>HVAC Monitoring Service</h1>

    <h5>
        To view reports for a given date range edit the url using the format:
        http://localhost:8080/hvac_data/reports/start={start}/end={end} where
        start and end are dates formatted as MM-dd-yyyy.
    </h5>

    <h5>
        To view June results copy the following:
        <strong>http://localhost:8080/hvac_data/reports/start=06-01-2020/end=06-30-2020</strong>
    </h5>

    <h5>
        To view July results copy the following:
        <strong>http://localhost:8080/hvac_data/reports/start=07-01-2020/end=07-31-2020</strong>
    </h5>

</body>
</html>
